@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #80dbd0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
    overflow: hidden;
}

.container {
    max-width: 500px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.container .topic {
    background: #385e5a;
    height: 120px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form{
    padding: 25px 35px;
}

.container form .row {
    height: 60px;
    margin-top: 15px;
    position: relative;
}

.container form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 70px;
    border-radius: 5px;
    border: 1px solid rgb(192, 188, 188);
    font-size: 18px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: #385e5a;
}

form .row input::placeholder {
    color: #838282;
}

.container form .row i {
    position: absolute;
    width: 55px;
    height: 100%;
    color: #fff;
    background: #385e5a;
    font-size: 24px;
    font-weight: 500;
    /* padding-left: 0px; */
    border: 1px solid rgb(192, 188, 188);
    cursor: pointer;
}

form .button_row input:hover {
    background: #385e5a;
}

.container form .signup {
    text-align: center;
    margin-top: 45px;
    font-size: 17px;
}

.container form .signup a {
    color: #385e5a;
    text-decoration: none;
    font-weight: 500;
}

