@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #80dbd0;
}

.container {
    /* display: flex;
    justify-content: center;
    align-content: center; */
    /* width: 100%;
    padding: 200px 280px;
    margin: 0 auto; */
}

.container .main_form {
    
    padding: 160px 160px 30px 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .header h1{
    color: #fff;
    padding: 30px 160px 30px 160px;
    background-color: #385e5a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px 16px 0 0;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 1px;
}

.container .main {
    background-color: #fff;
    padding-left: 20px;
}

.main2 span {
    padding: 0;
    margin: 0;
}

main span i {
    font-size: 24px;
    background-color: #385e5a;
    color: #fff;
    align-items: center;
    padding: 14px;
    border-radius: 6px 0 0 6px;
}

.main input {
    font-size: 20px;
    border: 1px solid rgb(122, 115, 115);
    padding: 12px 12px 8px;
    margin-left: -6px;
    /* margin-top: 60px; */
}